.buttons {
    margin-bottom: 8px;
}

.container {
    display: flex;
}

.square {
    flex: 1;
    background-color: var(--bgColor);
    outline: 0.5px solid black;
}

.square:after {
    content: '';
    display: block;
    padding-bottom: 100%;
}